<div class="container"> 

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          Switch Context
        </h1>
      </div>
  
  
      <div class="ui-g-6 ui-fluid">
          <label style="display: block"> <strong>Nome</strong></label>
          <input pInputText type="text">
      </div>
  
      <div class="ui-g-6 ui-fluid">
          <label style="display: block"> <strong>Origem</strong></label>
          <input pInputText type="text">
      </div>
  
      <div class="ui-g-6 ui-fluid">
        <label> <strong>Sai</strong> </label>
        <input pInputText type="text">
      </div>
      
      <div class="ui-g-6 ui-fluid">
        <label> <strong>Entra</strong> </label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-6 ui-fluid">
        <label style="display: block"> <strong>Hora</strong> (hh:mm)</label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-6 ui-fluid">
        <label style="display: block"> <strong>Data</strong> (dd/mm/aaaa) </label>
        <input pInputText type="text">
      </div>
  
      <div class="ui-g-8 ui-fluid"></div>
  
      <div class="ui-g-2 ui-fluid">
          <button pButton type="submit" label="Limpar" class="ui-button-secondary"></button>
      </div>
      <div class="ui-g-2 ui-fluid">
        <button pButton type="submit" label="Enviar"></button>
      </div>
    </div>
  
  </div>